body {
    
    padding: 20px;
    background-color: #e0f7fa; 
    line-height: 1.6;
}

.home-link {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #00796b;
    text-decoration: none;
    font-weight: bold;
}

.home-link:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: #00796b;
    margin-bottom: 20px;
    font-size: 2.5em;
}

h2 {
    color: #004d40;
    margin-bottom: 10px;
}

p {
    color: #555;
    margin-bottom: 20px;
    font-size: 19px;
}
